{{def shortcut(combo, description):
    return XML('<li><span class="teletype-text">%s</span><span>%s</span></li>' % (combo, description))
}}

<button id="add_as_webcontrol_button">Click me!</button>

<!-- drussell1974 WEB CONTROL EDITOR - START -->
<span id="add-as-webcontrol-dialog" >
    <form method= "post" class="_web-control-dialog">
        <!-- TODO: drussell1974 - Load the variable attributes -->
        <h3>Web control properties</h3>
        <input type="text" name="control_label" class="input-normal" align="left" placeholder="enter text of the label" />
        <select name="control_variable" required class="input-normal" id="variables_from_file">
            <option value="">- select a variable -</option>
            <option value="input" selected>input</option>
            <option value="select">dropdown</option>
        </select>
        <button type="button" align="left">Add as web control</button>
    </form>
</span>

<form action="{{=URL('edit', args=filename)}}" method="post" name="editwebcontrolform" id="edit_webcontrolform" style="float:right;" class="form-inline row-fluid">
        <div id="edit_aswebcontrol_placeholder" class="tab-content span12 well well-small">
                <label>Save form control:</label>
                <a value="save" title="Save file: learn_python/models/simple_form.py" href="#" name="save_webcontrol" onclick="return doClickSaveControl();" class="icon saveicon" style="background-image: -webkit-linear-gradient(top,white,#E6E6E6);">
                    <img alt="Save" src="/admin/static/_2.17.2/images/save_icon.png">
                </a>
                <label>Control</label>
                <select name="control_variable" required class="input-normal" id="variables_from_file">
                    <!-- TODO: drussell1974 - Load the list of variables in the module or class -->
                    <option value="">- select a variable -</option>
                </select>
                <label>Label:</label>
                <input type="text" name="control_label" class="input-normal" placeholder="enter text of the label" />
                <label>Type:</label>
                <select name="control_variable" required class="input-normal">
                    <option value="">- select a variable -</option>
                    <option value="text">Text</option>
                    <option value="select">Drop down</option>
                </select>
                <input type="text" name="select_options" class="input-normal hidden" placeholder="enter comma-seperated options" ></input>
        </div>
 </form>

<!-- drussell1974 WEB CONTROL EDITOR - END -->

<form action="{{=URL('edit', args=filename)}}" method="post" name="editform" id="editform" class="form-inline row-fluid">
<div class="span12 well well-small">
    <label class="">{{=T('Save file:')}}</label>
    <a value="save" title="{{=T('Save file: %s', filename)}}" href="#" name="save" onclick="return doClickSave();" class="icon saveicon" style="background-image: -webkit-linear-gradient(top,white,#E6E6E6);">{{=IMG(_src=URL('static', 'images/save_icon.png'), _alt=T('Save'))}}</a>
    <label class="">{{=T('Saved file hash:')}}</label>
    <input type="input" name="file_hash" value="{{=file_hash}}" class="input-long uneditable-input" readonly="readonly"/>
    <label>{{=T('Last saved on:')}}</label>
    <input type="input" name="saved_on" value="{{=saved_on}}" class="input-normal uneditable-input" readonly="readonly"/>
{{if filetype=='python':}}
      {{=A(SPAN(T('toggle breakpoint')),
           _value="breakpoint", _name="breakpoint",
           _onclick="return doToggleBreakpoint('%s','%s://%s%s',null);" % (filename,
                request.env['wsgi_url_scheme'], request.env['http_host'],
                URL(c='debug', f='toggle_breakpoint')),
           _class="button special btn btn-inverse")}}
{{pass}}
{{if view_link:}}
    {{=button(view_link, T('try view'))}}
{{pass}}
{{if functions or edit_controller:}}
    <p class="formfield">
    {{if functions:}}
        <span style="text-align:left;" class="exposed">
        {{=B(T('exposes:'))}} {{=XML(b', '.join([A(f,_target="_blank", _href=URL(a=app,c=controller,f=f)).xml() for f in functions]))}}
        </span>
        {{if editviewlinks:}}<br/>
            {{=B(T('edit views:'))}}
            {{=XML(b', '.join([v.xml() for v in editviewlinks]))}}
        {{pass}}
    {{pass}}
    {{if edit_controller:}}
        {{=B(T('edit controller:'))}}
        {{=A(request.args[2]+'.py', _class="editor_filelink", _target="_blank", _href=edit_controller)}}
    {{pass}}
    </p>
{{pass}}
</div>

    <textarea style=" height:100%; direction:ltr;" id="textarea_{{=id}}" class="input-block-level" name="data" >{{=data}}</textarea>
    <style>
        .is-variable {
            background-color: #fff2ac;
        }
        .web-control-dialog {
            float: right;
        }
    </style>
    <script>
    var editor = CodeMirror.fromTextArea(document.getElementById("textarea_{{=id}}"),{
    {{if filetype=='html':}}
        mode : "text/html",
        profile: 'xhtml',
    {{else:}}
        mode: { name: '{{=filetype}}'{{if filetype=='python':}},version: 2,singleLineStringErrors: false, {{pass}} },
    {{pass}}
        lineNumbers: {{=editor_settings['linenumbers']}},
        indentUnit: {{=editor_settings['tabwidth']}},
        indentWithTabs: {{=editor_settings['indentwithtabs']}},
        tabSize: {{=editor_settings['tabwidth']}},
        styleActiveLine: {{=editor_settings['highlightline']}},
        autoCloseTags: {{=editor_settings['closetag']}},
        theme: "{{=editor_settings['theme']}}",
        lineWrapping: true,
        foldGutter: {{=editor_settings['codefolding']}},
        gutters: ["CodeMirror-linenumbers", "breakpoints", "CodeMirror-foldgutter"],
        keyMap: "{{=editor_settings['editor']}}",
        matchBrackets: true,
        autofocus: false,
        height: "350px",
        showTrailingSpace: true
    });

    editor.on("gutterClick", function(cm, n, gutter) {
        if (gutter !== "breakpoints" ) return;
        var info = cm.lineInfo(n);
        cm.setGutterMarker(n, "breakpoints", info.gutterMarkers ? null : makeMarker());
        sel = {start: n, end: n, data: ''};
        doToggleBreakpoint({{=XML("'%s','%s://%s%s'" % (filename,
                             request.env['wsgi_url_scheme'], request.env['http_host'],
                             URL(c='debug', f='toggle_breakpoint')))}}, sel);
    });
    function makeMarker() {
        var marker = document.createElement("div");
        marker.style.color = "#822";
        marker.innerHTML = "●";
        marker.className = "breakpoint";
        return marker;
    }

    {{if filetype in ('html', 'javascript', 'css'):}}
        // must be here or break emmet/zencoding 
        CodeMirror.defaults.extraKeys["Ctrl-S"] =
            function(instance) {
                doClickSave();};
        CodeMirror.defaults.extraKeys["Tab"] = "indentMore";
        CodeMirror.defaults.extraKeys["Ctrl-F11"] = function(cm) {
            cm.setOption("fullScreen", !cm.getOption("fullScreen"));
        },
        CodeMirror.defaults.extraKeys["Shift-Esc"] = function(cm) {
            if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
        }
    {{pass}}
    {{if filetype=='python':}}
        // must be here or break emmet/zencoding for python
        CodeMirror.defaults.extraKeys["Ctrl-S"] =
            function(instance) {
                doClickSave();};
        CodeMirror.defaults.extraKeys["Ctrl-Space"] = "autocomplete";
        CodeMirror.defaults.extraKeys["Tab"] = "indentMore";
        CodeMirror.defaults.extraKeys["Shift-Tab"] = "indentLess";
        CodeMirror.defaults.extraKeys["Ctrl-F11"] = function(cm) {
	        cm.setOption("fullScreen", !cm.getOption("fullScreen"));
	    },
	    CodeMirror.defaults.extraKeys["Shift-Esc"] = function(cm) {
	        if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
	    }
        //for autocomplete
        CodeMirror.commands.autocomplete = function(cm) {
            CodeMirror.showHint(cm, CodeMirror.pythonHint);
        }
    {{pass}}
    CodeMirror.defaults.extraKeys["Ctrl-/"] = "toggleComment";
    store_changes_function = function(instance, changeObj) {
        jQuery(instance).data('saved', false);
        instance.off("change", store_changes_function);
    }
    editor.on("change", store_changes_function);
        // save the editor as textarea data attribute
        jQuery("#{{=id}} textarea").data('editor', editor);
        var hlLine = editor.addLineClass(0, "background", "activeline");
        window.mirror = editor; 	//backward compatibility
        set_font(editor, current_font_incr);
        doListBreakpoints({{=XML("'%s','%s://%s%s'" % (filename,
                request.env['wsgi_url_scheme'], request.env['http_host'],
                URL(c='debug', f='list_breakpoints')))}}, editor);

    // TODO move it in a separated file
    CodeMirror.defineExtension("centerOnCursor", function(limit) {
        var coords = this.cursorCoords(null, "local");
        if (this.getScrollerElement().clientHeight === 0 && limit !== 10) {
            if (limit === undefined) limit = 1;
            else limit += 1;
            editor = this;
            setTimeout(function() {editor.centerOnCursor()}, 100);
            return;
        }
        clientHeight = (this.getScrollerElement().clientHeight / 2)
        this.scrollTo(null, (coords.top + coords.bottom)/2 - 10);
    });
    CodeMirror.commands.save = function () {
        doClickSave();
    }

    // TODO: drussell1974 - put in a separated file


    doc = editor.getDoc();

    function highlightIfAVariable(line_text, line_number){
        // highlight text
        // drussell1974 - ensure line is not in a comment (',#,""")... or in a string (', ")
        if (/"""/.test(line_text) === false && /^#/.test(line_text) === false && /^'/.test(line_text) === false) {
            vble = line_text.split('=');
            if( vble.length > 1) {
                // highlight
                doc.markText({line: line_number, ch:0}, {line: line_number, ch:vble[0].trim().length}, options = { className: 'is-variable' });
            }
            else {
                // deselect
                //doc.markText({line: line_number, ch:0}, {line: line_number, ch:vble[0].trim().length}, options = { className: 'remove-highlight' });
            }
        }
    }


    function addButton(){
        // adds a button to the given position

        myCodeMirror = CodeMirror(doc.body);

        node = document.getElementById('add_as_webcontrol_button');

        myCodeMirror.addWidget(pos = {line: 1, ch: 5}, node = node, scrollIntoView = true);
    }

    function addButtonOnControlPress(){
        editor.setOption("extraKeys", {
          'Ctrl': function(cm) {
                pos = doc.getCursor();
                line_text = doc.getLine(pos.line);

                // add control

                // drussell1974 - ensure line is not in a comment (',#,""")... or in a string (', ")
                if (/"""/.test(line_text) === false && /^#/.test(line_text) === false && /^'/.test(line_text) === false) {
                    vble = line_text.split('=');
                    if( vble.length > 1) {
                        // Add button
                        node = document.getElementById('add_as_webcontrol_button');
                        doc.setBookmark({line: pos.line, ch:0}, widget = node);
                    }
                }
          }
        });
    }

    function openDialogOnControlPress(){
        editor.setOption("extraKeys", {
          'Ctrl': function(cm) {
                pos = doc.getCursor();
                line_text = doc.getLine(pos.line);

                // highlight text

                // drussell1974 - ensure line is not in a comment (',#,""")... or in a string (', ")
                if (/"""/.test(line_text) === false && /^#/.test(line_text) === false && /^'/.test(line_text) === false) {
                    vble = line_text.split('=');
                    if( vble.length > 1) {
                        // Open dialog
                        node = document.getElementById('add-as-webcontrol-dialog');
                        // TODO: drussell1974 - close dialog if open

                        doc.setBookmark({line: pos.line, ch:0}, widget = node);
                    }
                }

                // TODO: drussell1974 - on hide write out the attribute
          }
        });
    }

    function readFile(){
        // read each line from the start and end (not including the end) in the file
        line_number = 0;
        lines = doc.eachLine(start = 0, end = 20, f = function(line){
            highlightIfAVariable(line.text, line_number);
            line_number = line_number + 1;
        });
    }

    // TODO: drussell1974 - move to document load event

    //editor.on("changes", readFile);
    //readFile();
    //addButton();
    //editor.on("keypress", on_variable_selection);
    //addButtonOnControlPress();

    openDialogOnControlPress();



    </script>

    <div class="editor-bar-bottom" style="margin-top:9px;">
        <a class="editbutton btn" href="{{=URL('edit', args=request.args, vars={'restore':True})}}" id="restore">{{=T('restore')}}</a>
        {{=T('currently saved or')}}
        <a class="editbutton btn" href="{{=URL('edit', args=request.args, vars={'revert':True})}}" id="revert">{{=T('revert')}}</a>
        {{=T('to  previous version.')}}
    </div>
    <br/>
  </form>
