{{def shortcut(combo, description):
    return XML('<li><span class="teletype-text">%s</span><span>%s</span></li>' % (combo, description))
}}

<button id="add-as-webcontrol_button">Click me!</button>



<form action="{{=URL('edit', args=filename)}}" method="post" name="editform" id="editform" class="form-inline row-fluid">
<div class="span12 well well-small">
    <label class="">{{=T('Save file:')}}</label>
    <a value="save" title="{{=T('Save file: %s', filename)}}" href="#" name="save" onclick="return doClickSave();" class="icon saveicon" style="background-image: -webkit-linear-gradient(top,white,#E6E6E6);">{{=IMG(_src=URL('static', 'images/save_icon.png'), _alt=T('Save'))}}</a>
    <label class="">{{=T('Saved file hash:')}}</label>
    <input type="input" name="file_hash" value="{{=file_hash}}" class="input-long uneditable-input" readonly="readonly"/>
    <label>{{=T('Last saved on:')}}</label>
    <input type="input" name="saved_on" value="{{=saved_on}}" class="input-normal uneditable-input" readonly="readonly"/>
{{if filetype=='python':}}
      {{=A(SPAN(T('toggle breakpoint')),
           _value="breakpoint", _name="breakpoint",
           _onclick="return doToggleBreakpoint('%s','%s://%s%s',null);" % (filename,
                request.env['wsgi_url_scheme'], request.env['http_host'],
                URL(c='debug', f='toggle_breakpoint')),
           _class="button special btn btn-inverse")}}
{{pass}}
{{if view_link:}}
    {{=button(view_link, T('try view'))}}
{{pass}}
{{if functions or edit_controller:}}
    <p class="formfield">
    {{if functions:}}
        <span style="text-align:left;" class="exposed">
        {{=B(T('exposes:'))}} {{=XML(b', '.join([A(f,_target="_blank", _href=URL(a=app,c=controller,f=f)).xml() for f in functions]))}}
        </span>
        {{if editviewlinks:}}<br/>
            {{=B(T('edit views:'))}}
            {{=XML(b', '.join([v.xml() for v in editviewlinks]))}}
        {{pass}}
    {{pass}}
    {{if edit_controller:}}
        {{=B(T('edit controller:'))}}
        {{=A(request.args[2]+'.py', _class="editor_filelink", _target="_blank", _href=edit_controller)}}
    {{pass}}
    </p>
{{pass}}
</div>

<!-- drussell1974 WEB CONTROL EDITOR - START -->
<div id="add-as-webcontrol_dialog" class="span12 well well-small" style="display:none;">
    <!-- TODO: drussell1974 - Load the variable attributes -->
    <b id="webcontrol-dialog_title"></b><br>
    <label>type:</label>
    <select name="control_type" required class="input-normal" id="webcontrol-dialog_control_type">
        <option value="" >- select a variable -</option>
        <option value="text">Single Line of text</option>
        <option value="textarea">Multi-line text</option>
        <option value="number">Number</option>
        <option value="checked">Tick box</option>
        <option value="select">Dropdown</option>
    </select>
    <label>label:</label>
    <input type="text" name="control_label_text" class="input-normal" placeholder="enter text of the label" id="webcontrol-dialog_label_text"/>
    <input type="button" value="save" onclick="closeProperties('save')" id="webcontrol-save"/> <input type="button" value="cancel" onclick="closeProperties('cancel')"  id="webcontrol-cancel"/>
</div>
<!-- drussell1974 WEB CONTROL EDITOR - END -->

    <textarea style=" height:100%; direction:ltr;" id="textarea_{{=id}}" class="input-block-level" name="data" >{{=data}}</textarea>
    <style>
        .notify {
            text-align:center;
        }
        .success-notify {
            background-color: #fff2ac;
        }
        .warning-notify {
            background-color: #ff6666;
            color:white;
        }
    </style>
    <script>
    var editor = CodeMirror.fromTextArea(document.getElementById("textarea_{{=id}}"),{
    {{if filetype=='html':}}
        mode : "text/html",
        profile: 'xhtml',
    {{else:}}
        mode: { name: '{{=filetype}}'{{if filetype=='python':}},version: 2,singleLineStringErrors: false, {{pass}} },
    {{pass}}
        lineNumbers: {{=editor_settings['linenumbers']}},
        indentUnit: {{=editor_settings['tabwidth']}},
        indentWithTabs: {{=editor_settings['indentwithtabs']}},
        tabSize: {{=editor_settings['tabwidth']}},
        styleActiveLine: {{=editor_settings['highlightline']}},
        autoCloseTags: {{=editor_settings['closetag']}},
        theme: "{{=editor_settings['theme']}}",
        lineWrapping: true,
        foldGutter: {{=editor_settings['codefolding']}},
        gutters: ["CodeMirror-linenumbers", "breakpoints", "CodeMirror-foldgutter"],
        keyMap: "{{=editor_settings['editor']}}",
        matchBrackets: true,
        autofocus: false,
        height: "350px",
        showTrailingSpace: true
    });

    editor.on("gutterClick", function(cm, n, gutter) {
        if (gutter !== "breakpoints" ) return;
        var info = cm.lineInfo(n);
        cm.setGutterMarker(n, "breakpoints", info.gutterMarkers ? null : makeMarker());
        sel = {start: n, end: n, data: ''};
        doToggleBreakpoint({{=XML("'%s','%s://%s%s'" % (filename,
                             request.env['wsgi_url_scheme'], request.env['http_host'],
                             URL(c='debug', f='toggle_breakpoint')))}}, sel);
    });
    function makeMarker() {
        var marker = document.createElement("div");
        marker.style.color = "#822";
        marker.innerHTML = "●";
        marker.className = "breakpoint";
        return marker;
    }

    {{if filetype in ('html', 'javascript', 'css'):}}
        // must be here or break emmet/zencoding 
        CodeMirror.defaults.extraKeys["Ctrl-S"] =
            function(instance) {
                doClickSave();};
        CodeMirror.defaults.extraKeys["Tab"] = "indentMore";
        CodeMirror.defaults.extraKeys["Ctrl-F11"] = function(cm) {
            cm.setOption("fullScreen", !cm.getOption("fullScreen"));
        },
        CodeMirror.defaults.extraKeys["Shift-Esc"] = function(cm) {
            if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
        }
    {{pass}}
    {{if filetype=='python':}}
        // must be here or break emmet/zencoding for python
        CodeMirror.defaults.extraKeys["Ctrl-S"] =
            function(instance) {
                doClickSave();};
        CodeMirror.defaults.extraKeys["Ctrl-Space"] = "autocomplete";
        CodeMirror.defaults.extraKeys["Tab"] = "indentMore";
        CodeMirror.defaults.extraKeys["Shift-Tab"] = "indentLess";
        CodeMirror.defaults.extraKeys["Ctrl-F11"] = function(cm) {
	        cm.setOption("fullScreen", !cm.getOption("fullScreen"));
	    },
	    CodeMirror.defaults.extraKeys["Shift-Esc"] = function(cm) {
	        if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
	    }
        //for autocomplete
        CodeMirror.commands.autocomplete = function(cm) {
            CodeMirror.showHint(cm, CodeMirror.pythonHint);
        }
    {{pass}}
    CodeMirror.defaults.extraKeys["Ctrl-/"] = "toggleComment";
    store_changes_function = function(instance, changeObj) {
        jQuery(instance).data('saved', false);
        instance.off("change", store_changes_function);
    }
    editor.on("change", store_changes_function);
        // save the editor as textarea data attribute
        jQuery("#{{=id}} textarea").data('editor', editor);
        var hlLine = editor.addLineClass(0, "background", "activeline");
        window.mirror = editor; 	//backward compatibility
        set_font(editor, current_font_incr);
        doListBreakpoints({{=XML("'%s','%s://%s%s'" % (filename,
                request.env['wsgi_url_scheme'], request.env['http_host'],
                URL(c='debug', f='list_breakpoints')))}}, editor);

    // TODO move it in a separated file
    CodeMirror.defineExtension("centerOnCursor", function(limit) {
        var coords = this.cursorCoords(null, "local");
        if (this.getScrollerElement().clientHeight === 0 && limit !== 10) {
            if (limit === undefined) limit = 1;
            else limit += 1;
            editor = this;
            setTimeout(function() {editor.centerOnCursor()}, 100);
            return;
        }
        clientHeight = (this.getScrollerElement().clientHeight / 2)
        this.scrollTo(null, (coords.top + coords.bottom)/2 - 10);
    });
    CodeMirror.commands.save = function () {
        doClickSave();
    }

    // TODO: drussell1974 - put in a separated file


    doc = editor.getDoc();

    function highlightIfAVariable(line_text, line_number){
        // highlight text
        // drussell1974 - ensure line is not in a comment (',#,""")... or in a string (', ")
        if (/"""/.test(line_text) === false && /^#/.test(line_text) === false && /^'/.test(line_text) === false) {
            vble = line_text.split('=');
            if( vble.length > 1) {
                // highlight
                doc.markText({line: line_number, ch:0}, {line: line_number, ch:vble[0].trim().length}, options = { className: 'highlighted' });
            }
            else {
                // TODO: drussell1974 - deselect
            }
        }
    }


    function addButton(){
        // adds a button to the given position

        myCodeMirror = CodeMirror(doc.body);

        node = document.getElementById('add-as-webcontrol');

        myCodeMirror.addWidget(pos = {line: 1, ch: 5}, node = node, scrollIntoView = true);
    }

    function addButtonOnControlPress(){
        editor.setOption("extraKeys", {
          'Ctrl': function(cm) {
                pos = doc.getCursor();
                line_text = doc.getLine(pos.line);

                // add control

                // drussell1974 - ensure line is not in a comment (',#,""")... or in a string (', ")
                if (/"""/.test(line_text) === false && /^#/.test(line_text) === false && /^'/.test(line_text) === false) {
                    vble = line_text.split('=');
                    if( vble.length > 1) {
                        // Add button
                        node = document.getElementById('add-as-webcontrol_button');
                        doc.setBookmark({line: pos.line, ch:0}, widget = node);
                    }
                }
          }
        });
    }

    function openInlineEditorOnControlPress(){
        editor.setOption("extraKeys", {
          'Ctrl': function(cm) {
                pos = doc.getCursor();
                line_text = doc.getLine(pos.line);

                // drussell1974 - ensure line is not in a comment (',#,""")... or in a string (', ")
                if (/"""/.test(line_text) === false && /^#/.test(line_text) === false && /^'/.test(line_text) === false) {
                    vble = line_text.split('=');
                    if( vble.length > 1) {
                        // Open the span as a in line editor
                         node = document.getElementById('add-as-webcontrol_dialog');
                        // TODO: drussell1974 - close on ctrl press if already open

                        doc.setBookmark({line: pos.line, ch:0}, widget = node);
                    }
                }

                // TODO: drussell1974 - on hide write out the attribute
          }
        });
    }

    function writeDecorator(line_number) {

        // set control type
        control_type = document.getElementById('webcontrol-dialog_control_type');
        control_type.innerText = "";

        // set label text
        label_text = document.getElementById('webcontrol-dialog_label_text');
        label_text.innerText = "";
    }

    function openDialogOnControlPress(){
        editor.setOption("extraKeys", {
          'Ctrl-Space': function(cm) {
                VARIABLE_DECORATOR_SEP = '#@ui_control--->:'
                PROPERTY_SEP = ','
                PARAM_ARG_SEP = '='
                pos = doc.getCursor();
                line_text = doc.getLine(pos.line);

                // drussell1974 - ensure line is not in a comment (',#,""")... or in a string (', ")
                if (/"""/.test(line_text) === false && /^#/.test(line_text) === false && /^'/.test(line_text) === false) {
                    vble = line_text.split('=');
                    if( vble.length > 1) {
                        variable_name = vble[0].trim()

                        // Open dialog (built-in requires dialog/dialog.js  --- see codemirror.net/doc/manual.html#addons
                        node = document.getElementById('add-as-webcontrol_dialog');

                        // set title
                        control_type = document.getElementById('webcontrol-dialog_title');
                        control_type.innerText = "input for : " + variable_name;

                        // drussell1974 - check if decorator exists
                        //decorator_line_text = doc.getLine(pos.line-1)
                        //if (decorator_line_text.startsWith(variable_control_decorator_text) === true) {
                            decorator = line_text.split(VARIABLE_DECORATOR_SEP);
                            if (decorator.length > 1) {
                                param_args = decorator[1].split(PROPERTY_SEP);

                                for (i = 0; i < param_args.length; i++) {
                                    prm_arg = param_args[i].split(PARAM_ARG_SEP);
                                    if (prm_arg.length == 2 && prm_arg[0].trim() === 'control_type') {
                                        // set control type
                                        control_type = document.getElementById('webcontrol-dialog_control_type');
                                        for (s = 0; s < control_type.options.length; s++) {
                                            if (control_type.options.value === prm_arg[1].trim()) {
                                                control_type.selectedIndex = s;
                                            }
                                        }
                                    }

                                    if (prm_arg.length == 2 && prm_arg[0].trim() === 'label_text') {
                                        // set label text
                                        if(prm_arg[1] != null) {

                                            label_text = document.getElementById('webcontrol-dialog_label_text');
                                            if (control_type.options.value === prm_arg[1]) {
                                                label_text.innerText = prm_arg[1];
                                            }
                                        }
                                    }
                                }
                            }
                        //}

                        closeWebControlDialog = cm.openDialog(node.innerHTML,
                            function() {
                                cm.openNotification('<div class="notify success-notify">web form updated</div>', {bottom: false});
                            },
                            options = {
                                closeOnEnter: true,
                                closeOnBlur: false,
                                onClose: function() {
                                    cm.openNotification('<div class="notify warning-notify">cancelled</div>', {bottom: false});
                                }
                            }
                        )
                    }
                }
          }
        });
    }

    function closeProperties(cm, action){

        node = document.getElementById('add-as-webcontrol_dialog');
        node.style.display = "none";
        if (action == "save"){
            CodeMirror.openNotification('<div class="notify success-notify">web form updated</div>', {bottom: false});
        } else {
            CodeMirror.openNotification('<div class="notify warning-notify">cancelled</div>', {bottom: false});
        }
    }


    function showPropertiesOnControlPress(){
        editor.setOption("extraKeys", {
          'Ctrl-Space': function(cm) {
                VARIABLE_DECORATOR_SEP = '#@ui_control--->:'
                PROPERTY_SEP = ','
                PARAM_ARG_SEP = '='
                pos = doc.getCursor();
                line_text = doc.getLine(pos.line);

                webcontrol_save = document.getElementById('webcontrol-save').onclick = function save() {
                    node = document.getElementById('add-as-webcontrol_dialog');
                    node.style.display = "none";

                    // TODO: drussell1974 - Append properties as comment e.g. #@ui_control--->:control_type=text,label_text=Name:
                    // or append variable to function decorator that will be called at run time to get request.vars

                    // TODO: always hide comment in editor

                    cm.openNotification('<div class="notify success-notify">web form updated</div>', {bottom: false});
                }

                webcontrol_cancel = document.getElementById('webcontrol-cancel').onclick = function cancel() {
                    node = document.getElementById('add-as-webcontrol_dialog');
                    node.style.display = "none";
                    cm.openNotification('<div class="notify warning-notify">cancelled</div>', {bottom: false});
                }



                // drussell1974 - ensure line is not in a comment (',#,""")... or in a string (', ")

                if (/"""/.test(line_text) === false && /^#/.test(line_text) === false && /^'/.test(line_text) === false) {
                    vble = line_text.split('=');
                    if( vble.length > 1) {
                        variable_name = vble[0].trim()

                        // Open dialog (built-in requires dialog/dialog.js  --- see codemirror.net/doc/manual.html#addons
                        node = document.getElementById('add-as-webcontrol_dialog');
                        node.style.display = "block";

                        // set title
                        control_type = document.getElementById('webcontrol-dialog_title');
                        control_type.innerText = "set properties for " + variable_name + ":"

                        decorator = line_text.split(VARIABLE_DECORATOR_SEP);
                        if (decorator.length > 1) {
                            param_args = decorator[1].split(PROPERTY_SEP);

                            for (i = 0; i < param_args.length; i++) {

                                prm_arg = param_args[i].split(PARAM_ARG_SEP);
                                console.log('param ' + i + '...' + prm_arg);
                                // Set Control Type from the decorator

                                if (prm_arg.length == 2 && prm_arg[0].trim() === 'control_type') {
                                    // set control type
                                    control_type = document.getElementById('webcontrol-dialog_control_type');
                                    console.log('Element = ' + control_type + ' number of options = ' + control_type.options.length);
                                    console.log('selecting value... ' + prm_arg[1].trim());
                                    control_type.value = prm_arg[1].trim();
                                    /*for (s = 0; s < control_type.options.length; s++) {
                                        console.log(' checking value = ' + control_type.options[s].value)
                                        if (control_type.options[s].value == prm_arg[1].trim()) {
                                            console.log('selecting value... ' + prm_arg[1].trim());
                                            control_type.value = prm_arg[1].trim();
                                        }
                                    }*/
                                }

                                // Set Label Text from the decorator

                                if (prm_arg.length == 2 && prm_arg[0].trim() === 'label_text') {
                                    // set label text
                                    if(prm_arg[1] != null) {

                                        label_text = document.getElementById('webcontrol-dialog_label_text');
                                        console.log('Element = ' + label_text);
                                        label_text.value = prm_arg[1];
                                    }
                                }
                            }
                        }
                    }
                }
          }
        });
    }


    function readFile(){
        // read each line from the start and end (not including the end) in the file
        line_number = 0;
        lines = doc.eachLine(start = 0, end = 20, f = function(line){
            highlightIfAVariable(line.text, line_number);
            line_number = line_number + 1;
        });
    }

    // TODO: drussell1974 - move to document load event

    //editor.on("changes", readFile);
    //readFile();
    //addButton();
    //editor.on("keypress", on_variable_selection);
    //addButtonOnControlPress();

    //openInlineEditorOnControlPress();

    //openDialogOnControlPress();
    showPropertiesOnControlPress();

    </script>

    <div class="editor-bar-bottom" style="margin-top:9px;">
        <a class="editbutton btn" href="{{=URL('edit', args=request.args, vars={'restore':True})}}" id="restore">{{=T('restore')}}</a>
        {{=T('currently saved or')}}
        <a class="editbutton btn" href="{{=URL('edit', args=request.args, vars={'revert':True})}}" id="revert">{{=T('revert')}}</a>
        {{=T('to  previous version.')}}
    </div>
    <br/>
  </form>
